@model Eleflex.Services.IServiceCommandResponseItems<Eleflex.Versioning.Message.ModuleVersion>
@{
    ViewBag.Title = "System Version Information";
}
<h1>System Version Information</h1>

<table class="table">
    <thead>
        <tr>            
            <th>Module</th>
            <th>Version</th>
            <th>Update Date</th>
        </tr>
    </thead>
    <tbody>
@if(Model != null && Model.Items != null)
{ 
    for (int i = 0; i < Model.Items.Count; i++)
    {
        <tr class="@((i+1)%2==0 ? "even" : "odd")">
            <td>@Model.Items[i].ModuleName</td>
            <td>@Model.Items[i].Version.ToString()</td>
            <td>@Model.Items[i].UpdateDate.Value.DateTime.ToLocalTime()</td>
        </tr>
    }
}
    </tbody>
</table>