@{
    ViewBag.Title = "Developer Tools";
}
<div class="container">
    <h1>Developer Tools</h1>
    <p>
        The following lists provide developers with references and tools for use with the ELEFLEX<sup>&reg;</sup> platform.
    </p>

    <div class="panel panel-primary">
        <div class="panel-heading">Developer References</div>
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th class="col-md-4">Link</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href='@Url.Action("InstalledComponents")'>ELEFLEX<sup>&reg;</sup> Installed Components</a></td>
                        <td>Reference list of all installed components for the ELEFLEX<sup>&reg;</sup> platform.</td>
                    </tr>
                    <tr>
                        <td><a href="https://github.com/ProductionReady/Eleflex">ELEFLEX<sup>&reg;</sup> Source Code via GitHub</a></td>
                        <td>The complete source code for the ELEFLEX<sup>&reg;</sup> platform.</td>
                    </tr>
                    <tr>
                        <td><a href="http://www.nuget.org/packages/eleflex/">ELEFLEX<sup>&reg;</sup> NuGet Package Information</a></td>
                        <td>NuGet package information for the ELEFLEX<sup>&reg;</sup> platform.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

        
        
