@{
    ViewBag.Title = "About";
}
<h1>Company Information</h1>
<p>
    Production Ready, LLC was founded in Baltimore, Maryland in 2009. Our goal is to create innovative software products and solutions that allow our customers to adapt to rapidly changing technology in the marketplace.
    Visit our website at <a href="http://www.ProductionReady.com">http://www.ProductionReady.com</a> to learn more.
</p>
<h2>Software License Information</h2>
<p>
    We are proud to support the open source software development community and we have released the complete source code of the PRODUCTION READY<sup>&reg;</sup> ELEFLEX<sup>&reg;</sup> platform under the <a href='@Url.Action("AGPL")'>GNU Affero General Public License v3</a>.
    This license aligns with company principles and goals while ensuring that everyone who contributes and uses the platform is free to receive the complete source code.
    The Free Software Foundation has an article to helps explain the reason <a href="http://www.gnu.org/licenses/why-affero-gpl.html">Why the Affero GPL?</a>
</p>
<p>
    The AGPL license requires all source code to be release, however we utilize a dual-licensing model that allows customers to close source their solutions to protect copyright, trade secrets or for other business concerns.
    A one-time, perpetual server license can be purchased for your all your hosted servers along with support options and others features.
</p>
<p>
    Purchase an <a href="http://www.ProductionReady.com">ELEFLEX<sup>&reg;</sup> Server License</a> to remove this restriction and close source your application for business concerns. <a href="http://www.ProductionReady.com">Visit our website</a> to view license options available!
</p>
<div class="panel panel-primary">
    <div class="panel-heading"><h3 class="panel-title">AGPL Source Code Sharing License Requirements</h3></div>
    <div class="panel-body">
        <p>
            The AGPL license, in conjunction with <a href='@Url.Action("AGPL")#section13'><em>Section 13. Remote Network Interaction</em></a> requires that all applications developed with the ELEFLEX<sup>&reg;</sup> platform must release all source code in a prominent way.
        </p>
        <div style="text-align:center;">
            <a class="btn-primary" style="padding: 10px; border-radius:4px;" href="https://github.com/ProductionReady/Eleflex">DOWNLOAD WEBSITE SOURCE CODE</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <div class="panel panel-info">
            <div class="panel-body bg-info">
                Copyright © 2015 Production Ready, LLC. All Rights Reserved.<br />
                For more information, visit <a href="http://www.ProductionReady.com">http://www.ProductionReady.com</a><br />
                This file is part of PRODUCTION READY® ELEFLEX®.<br /><br />

                This program is free software: you can redistribute it and/or modify<br />
                it under the terms of the GNU Affero General Public License as<br />
                published by the Free Software Foundation, either version 3 of the<br />
                License, or (at your option) any later version.<br /><br />

                This program is distributed in the hope that it will be useful,<br />
                but WITHOUT ANY WARRANTY; without even the implied warranty of<br />
                MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the<br />
                GNU Affero General Public License for more details.<br /><br />

                You should have received a copy of the GNU Affero General Public License<br />
                along with this program.  If not, see <a href="http://www.gnu.org/licenses/">http://www.gnu.org/licenses/</a>.
            </div>
        </div>
    </div>
</div>

