/* ELEFLEX THEME COLORS */
/* BLUE #3195b7 */
/* ORANGE #f7941e */


/* DEFAULT STYLES FOR ALL PLATFORM ELEMENTS*/
h1{color:#3195b7; font-size:2.0em;margin-top:0px;}
h2{font-size:1.8em;}
h3{font-size:1.6em;}

/* JUMBOTRONS */
.container .jumbotron { border-radius: 6px; }
.jumbotron { background-color: #3195b7;color: #ffffff; margin-bottom: 30px; padding: 30px; }
.jumbotron h1, .jumbotron .h1 { color: inherit; }
.jumbotron p { font-size: 21px; font-weight: 200; margin-bottom: 15px; }
.jumbotron > hr { border-top-color: #157254; }
.jumbotron .container { max-width: 100%; }

/* ADD COLOR TO TABLE HEADER */
.datatable thead tr{background-color:#3195b7;color:#ffffff;}
.datatable tbody .even {background-color:#BDBDBD;}
.eleflexdatatable thead tr{background-color:#3195b7;color:#ffffff;}
.eleflexdatatable tbody .even {background-color:#BDBDBD;}
.table thead tr{background-color:#3195b7;color:#ffffff;}
.table tbody .even {background-color:#BDBDBD;}

/* MODAL POPUPS */
.modal-header {background-color: #3195b7;color:#ffffff;}

/* ERRORS AND MVC VALIDATORS */
input.input-validation-error { border: 1px solid red;}
.field-validation-error { color: red; }
.field-validation-valid { display: none; }
.required{color:red;}
select.input-validation-error { border: 1px solid red; }
.validation-summary-errors {color: red;}
.validation-summary-valid { display: none; }

