@model Eleflex.Security.Web.Account.LoginViewModel
@{
    ViewBag.Title = "Log in";
}
<h1>Locked Out</h1>
<p>This account has been locked out for too many incorrect password attempts or for account termination. Either wait 5 minutes to retry your password or change your password.</p>