@{
    ViewBag.Title = "Registration Complete";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        Thank you for registering! An email has been sent to the email address you provided. Click the link in the email within 3 hours to confirm your account. Please allow up to 10 minutes for your
        email to be delivered. If you did not receive an email in this time or you would like us to resend another confirmation email, @Html.ActionLink("ReSend Confirmation Email", "RegisterResendEmail")
    </p>
</div>
